@import "tailwindcss";

:root {
  color-scheme: light dark;
}
body {
  @apply bg-white text-slate-800 antialiased;
}
.dark body {
  @apply bg-slate-950 text-slate-100;
}

/* Simple prose tweaks */
.prose a {
  @apply text-blue-600 underline;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem; /* beri jarak dari header ~56–64px */
}
